.about-page {
    grid-row: content-s/content-e;
    display: block;
    padding: 50px;
    
}



.about-page-image img {
    position: relative;
    margin-left: 10px;
    height: 50rem;
    float: right;
}