.about-page {
    grid-row: content-s/content-e;
    display: block;
    padding: 50px;
    
}



.about-page-image img {
    position: relative;
    margin-left: 10px;
    width: 40%;
    float: right;
}

.about-page-subheading {
    color: $offTealColor;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-page-body {
    color: black;
    font-size: 1.6rem;
}


@media(max-width: 50em) {

        .about-page {
        grid-row: content-s/content-e;
        display: block;
        padding: 10px;
        padding-top: 0px;
        
    }



    .about-page-image img {
        position: relative;
        margin-left: 0px;
        width: 110%;
        float: left;
        padding-bottom: 5%;
        overflow: hidden;
        margin-top: -35%;
        margin-left: -10%;
    }

    .about-page-subheading {
    color: $offTealColor;
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    }

    .about-page-body {
        color: black;
        font-size: 1.6rem;
    }

}