@keyframes example {
   0%   {
     transform: translate(100px,100px);
   }
    25% {
     transform: translate(500px,100px);
    }
   50%  {
     transform: translate(500px,500px);
   }
   75%  {
     transform: translate(100px,500px);
   }
   100% {
     transform: translate(100px,100px);
   }
   
}


.animation {
  height: 21rem;
  width: 25rem;
  background-image: url('http://s.cdpn.io/3/kiwi.svg');
  background-size: cover;
  background-repeat: none;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}