.contact-page-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 100px;
    margin-top: 30px;

    

    .heading-text {
        font-size: 3em;
        padding: 10px 0px 0px 10px;
    }

    .contact-info-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        font-size: 2em;
        padding-top: 30px;

        .grid-item {
            display: flex;
            justify-content: center;

            .media-links{
                display: grid;
                grid-template-columns:  1fr 1fr 1fr;
                width: 100px;
                grid-gap: 10px;

                
                .media-logo {
                    height: 23px;
                    
                }
            }
        }
    }

    .map-wrapper {
        height: 500px;
        width: 100%;
        box-shadow: 0px 10px 44px 1px rgba(0,0,0,0.75);
        border-top: 2px solid $tealColor;
        border-bottom: 2px solid $tealColor
    }


}

@media(max-width: 50em) {
    .contact-page-wrapper {
        .contact-info-grid {
            grid-template-columns: 1fr;
        }

        #phone{
            order: 1;
        }

        #email {
            order: 2;
        }

        #address1 {
            order: 3;
        }

        #address2 {
            order: 4;
        }

        #media1 {
            order: 5;
        }

        #media2 {
            order: 6;
        }

        
    }
}