ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: $tealColor;
}

li a {
    display: block;
    color: $silverColor;
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

li a:hover {
    transition: all 500ms ease-in-out;
    background-color: #111;
    text-decoration: none;
}