.crossHair {
    position: absolute;
    height: 200px;
    width: 200px;
}

.crossHair img {
    width: 100%;
    height: auto;
}

.city{
    height: 700px;
    width: 100%;
}

.city img {
    width: 100%;
    height: 100%;
}

.tax {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 200px;
    top: 800px;
}

.tax img {
    height: 100%;
    width: auto;
}

.assurance {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 600px;
    top: 800px;
}

.assurance img{
    height: 100%;
    width: auto;
}

.advisory {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 1050px;
    top: 800px;
}

.advisory img {
    height: 100%;
    width: auto;
}