.industries-page{
    grid-row: content-s/content-e;
    display: block;
    padding: 50px;
    //column-count: 2;
}

.industries-image img {
    position: relative;
    width: 40%;
    float: right;
    top: 50px;
}

.industries-bullets { 
    list-style-type: square;
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    left: 25px;
}