.industries-page{
    position: relative;
    margin: 50px;
}

.industries-image img {
    position: relative;
    height: 300px;
    float: right;
    top: 50px;
}

.industries-bullets {
    list-style-type: square;
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    left: 25px;
}