@keyframes hoverOn {
   0%   {
   }
   100% {

    opacity: .15;
    transition: .5s ease;
   }
   
}

@keyframes hoverOff {
  0% {
    opacity: .15;
  }
  100% {
    opacity: 1;
  }
  }

.industryCard {
  text-align: center;
  word-wrap: break-word;
  position: relative;
}

.card-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.card-img{
  img
  {
    max-height: 250px;
    max-width: 250px;
    height: 100%;
    width: 100%;
    animation-name: hoverOff;
    animation-duration: .5s;
    border: 1px solid rgb(0, 55, 107);

    &:hover {
      animation-name: hoverOn;
      animation-duration: .5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.card-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
