.insights {
    grid-row: content-s/content-e;
    display: block;
    padding: 50px;
}

.faq {
    display: grid;
    grid-template-columns: 1fr 0.8fr;

    .faq-right-column {
        .insights-heading {
            color: $offTealColor;
            font-size: 2.5rem;
            text-align: center;
            padding-bottom: 20px;
        }

        .insights-subheading {
            color: $offTealColor;
            font-size: 2rem;
            //padding-top: 20px;
        }

        .faq-answers {
            position: relative;
            margin: 1rem;
            margin-top: 1rem;
            font-size: 1.5rem;
            //top: 4rem;

            .insights-link {
                color: blue;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

    .faq-left-column {
        padding-top: 45px;
        .insights-img img{
            width: 100%;
            padding-left: 1.5rem;
        }

    }
}



.testimonials-wrapper {
    .insights-heading-testimonials {
        color: $offTealColor;
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        position: relative;
        color: white;
        font-size: 2rem;
        padding-top: 35px;

        .testimonial-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            border-radius: 10px;
            padding: 20px;
            background-color: $tealColor;
            line-height: 1.5em;

        }
    }
}




@media(max-width: 50em) {

    .insights {
    grid-row: content-s/content-e;
    display: block;
    padding: 10px;
    padding-top: 0px;
    }

    .faq {
        grid-template-columns: 1fr;

        .faq-right-column {
            order: 2;

             .insights-heading {
                color: $offTealColor;
                font-size: 2.5rem;
                text-align: center;
                padding-bottom: 20px;
            }

            .insights-subheading {
                color: $offTealColor;
                font-size: 2rem;
                //padding-top: 20px;
            }

            .faq-answers {
                position: relative;
                margin: 1rem;
                margin-top: 1rem;
                font-size: 1.6rem;

                .insights-link {
                        color: rgb(0, 0, 228);
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }

            }
        }

        .faq-left-column{
            padding-top: 0px;
            order: 1;
            .insights-img img{
                width: 110%;
                margin-left: -10%;
                
            }
        }
    }

    

    .testimonials-wrapper {

        .testimonials {
            grid-template-columns: 1fr;

        }
    }

    

    

    

   

    

}