@import 'variables';
@import 'home-page';
@import 'industryCard';
@import 'header';
@import 'aboutPage';
@import 'industriesPage';
@import 'textFormat';
@import 'services';
@import 'calendar';
@import 'footer';
@import 'legal';
@import 'contact';
@import 'insights';
@import 'login';

// Styling is done with the same syntax as vanilla CSS3.
html {
    font-size: 62.5%; // 1rem is 10px
}

// * is a wildcard selector that selects every tag within its scope.
// Since this isn't nested, * selects every tag in the site.
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';  // This font was imported from Google Fonts in the index.html file.
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.layout-grid {
    width: 100vw;
    display: grid;
    grid-template-rows: [header-s] minmax(50px, 75px) [header-e content-s] 1fr [content-e footer-s] 200px [footer-e];
    min-height: 100vh;
    justify-items: center;
}
