.services-page {
    padding: 20px 50px;

    .heading {
        color: $offTealColor;
        font-size: 30px;
        text-align: center;
    }

    .body-text {
        color: black;
        font-size: 15px;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        line-height: 1.3em;
        padding: 0px 10px;
        margin: 0px;
    }

    .subheading {
        color: $offTealColor;
        font-size: 25px;
        padding-top: 20px;
    }

    .mini-subheading {
        color: $tealColor;
        font-size: 20px;
        padding: 10px 0px;
    }

    .micro-subheading {
        color: $offTealColor;
        font-size: 18px;
    }

    .list {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        
    }
}

.services-image img, .services-image-bottom img {
    float: right;
    width: 35%;
}


@media(max-width: 50em) {

    .services-page {
        padding: 0px;
        

        .services-onpage {
            display: flex;
            flex-direction: column;

            .services-image {
                order: 1;
            }
            
            

            .heading {
                order: 2;
            }

            .body-text {
                order: 3;
            }
        }
        .services-image img {
            width: 100%;
        }
    }

}

// I didn't know what to do with the bottom image so I got rid of it
// add it back if you want