.services-page {
    margin: 5rem;
}

.services-image img {
    position: relative;
    float: right;
    height: 30rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.services-image2 img {
    position: relative;
    float: right;
    height: 35rem;
    padding-top: 16rem;
    padding-left: 1rem;
}