.heading {
    position: relative;
    color: rgb(0, 55, 107);
    font-size: 30px;
    top: 10px;
    text-align: center;
}

.subheading {
    position: relative;
    color: rgb(0, 55, 107);
    font-size: 25px;
    top: 10px;
}



.body-text {
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
}

.body-text-center {
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    text-align: center;
}