.heading {
    position: relative;
    color: $offTealColor;
    font-size: 30px;
    top: 10px;
    text-align: center;
}

.subheading {
    position: relative;
    color: $offTealColor;
    font-size: 25px;
    top: 40px;
}



.body-text {
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    padding-top: 1rem;
}

.body-text-center {
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    text-align: center;
}

.mini-subheading {
    position: relative;
    color: $tealColor;
    font-size: 20px;
    top: 40px;
}

.micro-subheading {
    position: relative;
    color: $offTealColor;
    font-size: 18px;
    top: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.extra-margin {
    position: relative;
    color: black;
    font-size: 15px;
    top: 35px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}